MonsterWeb.Logic/Service References/ServiceReference1/MonsterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4017/MonsterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" />
  <xs:element name="GetGender">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="GetGenderResult" nillable="true" type="q1:ArrayOfGenderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonsterType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonsterTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="GetMonsterTypeResult" nillable="true" type="q2:ArrayOfMonsterTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="GetTitlesResult" nillable="true" type="q3:ArrayOfTitleDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>