MonsterWeb.Tests/Service References/MonsterServiceReference/MonsterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MonsterDataService/MonsterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" />
  <xs:element name="GetGender">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="GetGenderResult" nillable="true" type="q1:ArrayOfGenderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonsterType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonsterTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="GetMonsterTypeResult" nillable="true" type="q2:ArrayOfMonsterTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="GetTitlesResult" nillable="true" type="q3:ArrayOfTitleDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMonster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="monster" nillable="true" type="q4:MonsterDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMonsterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMonsterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="gender" nillable="true" type="q5:GenderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGenderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMonsterType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="mtype" nillable="true" type="q6:MonsterTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMonsterTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMonsterTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" minOccurs="0" name="title" nillable="true" type="q7:TitleDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTitleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>