MonsterWeb.Client/Service References/MonsterServiceReference/MonsterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonsterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MonsterDataService/MonsterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MonsterDataService/MonsterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MonsterDataService/MonsterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MonsterApp.DataClient.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonsterService_GetGender_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGender" />
  </wsdl:message>
  <wsdl:message name="IMonsterService_GetGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IMonsterService_GetMonsterType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonsterType" />
  </wsdl:message>
  <wsdl:message name="IMonsterService_GetMonsterType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonsterTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonsterService_GetTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitles" />
  </wsdl:message>
  <wsdl:message name="IMonsterService_GetTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitlesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonsterService">
    <wsdl:operation name="GetGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonsterService/GetGender" message="tns:IMonsterService_GetGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonsterService/GetGenderResponse" message="tns:IMonsterService_GetGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMonsterType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonsterService/GetMonsterType" message="tns:IMonsterService_GetMonsterType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonsterService/GetMonsterTypeResponse" message="tns:IMonsterService_GetMonsterType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonsterService/GetTitles" message="tns:IMonsterService_GetTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonsterService/GetTitlesResponse" message="tns:IMonsterService_GetTitles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonsterService" type="tns:IMonsterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGender">
      <soap:operation soapAction="http://tempuri.org/IMonsterService/GetGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonsterType">
      <soap:operation soapAction="http://tempuri.org/IMonsterService/GetMonsterType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <soap:operation soapAction="http://tempuri.org/IMonsterService/GetTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonsterService">
    <wsdl:port name="BasicHttpBinding_IMonsterService" binding="tns:BasicHttpBinding_IMonsterService">
      <soap:address location="http://localhost/MonsterDataService/MonsterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>